<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add new Item</title>
</head>
<body>
    <div>
        <form novalidate>
            Artist:<br>
            <input type="text" ng-model="add.favoriteItem.artist"><br>
            Title:<br>
            <input type="text" ng-model="add.favoritesfavoriteItem.title">
            <br><br>
            <a href="#home"><button>Back</button></a>
            <button ng-click="add.reset()">Reset</button>
            <button ng-click="add.save()">Save</button>
        </form>

        <p>{{add.favorites}}</p>
    </div>
</body>
</html>
